<div class="accordion">
  <div class="accordion-row">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> List Of Cities already added </mat-panel-title>
        </mat-expansion-panel-header>
        <table
          class="cityListTable"
          *ngIf="cityListInput.length; else elseBlock"
        >
          <tbody>
            <tr *ngFor="let city of cityListInput; let i = index">
              <td>{{ i }}</td>
              <td class="rowcityname">{{ city.name }}</td>
              <td class="rowedit">
                <button mat-raised-button (click)="handleEditCity(city)">
                  Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <ng-template #elseBlock
          >No city found.Please add City or check your network call</ng-template
        >
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
