.accordion {
  .accordion-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mat-expansion-panel {
    width: 700px;
  }
}
.accordion-item {
  border: none;
  border-radius: 0;
  padding: 10px;
  background: #ffc10787;

  .accordion-header {
    font-weight: 700;
    padding-bottom: 10px;
  }
}

.cityListTable {
  border-collapse: collapse;
  width: 100%;
  background-color: aliceblue;
  color: #000;
  td {
    border: 1px solid #000;
  }

  .rowcityname {
    padding: 5px;
  }

  .rowedit {
    padding: 5px;
    text-align: center;
  }
}
