<div class="main-container">
  <div class="city-list">
    <app-city-list *ngIf="cityList" [cityListInput]="cityList"></app-city-list>
  </div>
  <div class="city-form">
    <div class="row">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <label for="state">Select State</label>
        <select formControlName="selectedState" id="state">
          <option value="" disabled selected>Select State</option>
          <option *ngFor="let state of states" [value]="state">
            {{ state }}
          </option>
        </select>

        <label for="cityName">City Name</label>
        <input
          type="text"
          formControlName="cityName"
          id="cityName"
          placeholder="Enter City Name"
        />

        <label for="cityCode">City Code</label>
        <input
          type="text"
          formControlName="cityCode"
          id="cityCode"
          placeholder="Enter City Code"
        />
        <p></p>

        <button mat-raised-button type="submit">Add City</button>
      </form>
    </div>
  </div>
</div>
