<body>
  <div class="container">
    <div class="form-container">
      <form action="#" method="post">
        <label for="dropdown1">Select State</label>
        <select id="dropdown1" name="dropdown1">
          <option value="wb">West Bengal</option>
          <option value="mh">Maharastra</option>
          <option value="kn">Karnataka</option>
        </select>
        <label for="inputFieldCity">Add City</label>
        <input type="text" id="inputFieldCity" name="inputFieldCity" placeholder="Enter City Name"><br><br>

        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</body>
