<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name" />
      <div
        *ngIf="loginForm.get('name')?.invalid && loginForm.get('name')?.touched"
        class="error-message"
      >
        Name is required.
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" />
      <div
        *ngIf="
          loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        "
        class="error-message"
      >
        <div *ngIf="loginForm.get('email')?.errors?.['required']">
          Email is required.
        </div>
        <div *ngIf="loginForm.get('email')?.errors?.['email']">
          Invalid email format.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username" />
      <div
        *ngIf="
          loginForm.get('username')?.invalid &&
          loginForm.get('username')?.touched
        "
        class="error-message"
      >
        Username is required.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" />
      <div
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
        class="error-message"
      >
        Password is required.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Confirm Password</label>
      <input type="password" id="password" formControlName="confirmPassword" />
      <div
        *ngIf="
          loginForm.get('confirmPassword')?.invalid &&
          loginForm.get('confirmPassword')?.touched &&
          !loginForm.get('confirmPassword')?.hasError('passwordMismatch')
        "
        class="error-message"
      >
        Confirm Password is required.
      </div>
      <div
        *ngIf="
          loginForm.get('confirmPassword')?.hasError('passwordMismatch') &&
          loginForm.get('confirmPassword')?.touched
        "
        class="error-message"
      >
        Passwords must match.
      </div>
    </div>
    <button type="submit">Sign In</button>
    <button type="button" (click)="loginWithGoogle()">Login with Google</button>
  </form>
</div>
