<mat-toolbar class="p-0">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-auto">
        <button
          mat-icon-button
          class="example-icon"
          aria-label="MenuIconButton"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="col">
        <span class="headerTitle" appHighlightsColor>{{ headerTitle }}</span>
      </div>
      <div class="col-auto d-flex align-items-center">
        <span *ngIf="isShowUserName" class="mx-2 d-none d-md-inline"
          >Hello: {{ user.username }}</span
        >
        <button
          appHighlightsColor
          mat-icon-button
          color="white"
          aria-label="homeIconButton"
          data-test="home-button"
          (click)="homeButtonClick()"
          class="mx-1"
        >
          <mat-icon>home</mat-icon>
        </button>
        <button
          mat-icon-button
          color="white"
          class="example-icon account_circle-icon mx-1"
          data-test="admin-button"
          routerLink="/admin"
          (click)="adminButtonClick()"
          aria-label="AdminIconButton"
          [title]="
            user?.username ? 'Click here to go to Admin' : 'Click here to Login'
          "
        >
          <mat-icon>account_circle</mat-icon>
        </button>
        <button
          *ngIf="user?.username"
          (click)="logout()"
          appHighlightsColor
          mat-icon-button
          data-test="header-logout-button"
          color="white"
          class="example-icon logout-icon mx-1"
          title="Click here to Logout"
          aria-label="LogoutIconButton"
        >
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>
